.header {
  height: 8em;
  max-width: 1024px;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}

.logo {
  font-size: var(--fs-logo);
}

@media (max-width: 600px) {
  .header {
    height: 6em;
  }
}
