.light {
  /* Gradients website: https://mycolor.space/gradient?ori=to+top&hex=%2323283E&hex2=%232A2F4C&sub=1 */
  --clr-bg: radial-gradient(
    circle,
    #ffffff,
    #f8f8f9,
    #f0f1f3,
    #e7eaed,
    #dee4e7
  );
  --clr-bg-alt: #fcfcfc;
  --clr-fg: #555;
  --clr-fg-alt: #444;
  --clr-primary: #516dd3;
  --clr-nav-item: #cccccc;
  --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.dark {
  --clr-bg: radial-gradient(
    circle,
    #23283e,
    #252a41,
    #262c45,
    #282d48,
    #2a2f4c
  );
  --clr-bg-alt: #2a2f4c;
  --clr-fg: #bdbddd;
  --clr-fg-alt: #cdcdff;
  --clr-primary: #90a0d9;
  --clr-nav-item: #bdbddd;
  --shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.app {
  font-family: var(--ff-primary);
  line-height: 1.5;
  color: var(--clr-fg);
  background: var(--clr-bg);
}

.section {
  max-width: var(--max-section-width);
  width: var(--section-width);
  margin: 4em auto 0;
}

.heading-text {
  font-family: var(--ff-heading);
  font-weight: var(--fw-bold);
  letter-spacing: var(--ls-large);
}

.section__title {
  letter-spacing: var(--ls-regular);
  text-align: center;
  margin-bottom: var(--margin-regular);
  text-transform: uppercase;
}

.center {
  display: flex;
  align-items: center;
}

.link {
  padding: 0 0 0.3em 0;
  position: relative;
}

.link:hover {
  color: var(--clr-primary);
}

.link::before {
  content: "";
  display: inline;
  width: 0%;
  height: 0.2em;
  position: absolute;
  bottom: 0;
  background-color: var(--clr-primary);
  transition: width 0.2s ease-in;
}

.link:hover::before,
.link:focus::before {
  width: 100%;
}

.link--nav {
  color: var(--clr-fg);
  text-transform: lowercase;
  font-weight: var(--fw-semi-bold);
}

.link--icon {
  color: var(--clr-fg);
}

.btn {
  display: block;
  border-radius: var(--border-radius-small);
  padding: 0.8em 1.4em;
  font-weight: var(--fw-semi-bold);
  font-size: var(--fs-regular);
  text-transform: lowercase;
  transition: transform 0.2s ease-in-out;
}

.btn--outline {
  color: var(--clr-primary);
  border: 2px solid var(--clr-primary);
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.btn--outline:hover,
.btn--outline:focus {
  color: var(--clr-bg-alt);
}

.btn--outline:before {
  content: "";
  position: absolute;
  background-color: var(--clr-primary);
  right: 100%;
  bottom: 0;
  left: 0;
  top: 0;
  z-index: -1;
  transition: right 0.2s ease-in-out;
}

.btn--outline:hover:before,
.btn--outline:focus:before {
  right: 0;
}

.btn--plain {
  text-transform: initial;
  background-color: var(--clr-bg-alt);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  border: 0;
}

.btn--plain:hover {
  transform: translateY(-4px);
}

.btn--icon {
  padding: 0;
}

.btn--icon:hover,
.btn--icon:focus {
  color: var(--clr-primary);
}

.btn--icon:active {
  transform: translateY(-5px);
}

@media (max-width: 900px) {
  .section {
    margin-top: var(--margin-extra-extra-large);
  }

  .section__title {
    margin-bottom: var(--margin-regular);
  }
}

@media (max-width: 600px) {
  .section {
    margin-top: var(--margin-extra-large);
  }
}
